templates/*.go
templates/*.txt
grafisearch
public/assets
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

public/assets
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
