<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>GrafiSearch</title>
    <link rel="stylesheet" href="/static/app.css"></link>
    <style>
        body {
            background-image: url({{ .background }});
        }
    </style>
    <script src="/static/app.js" defer type="module"></script>
</head>
<body>
    <header>
        <form action="">
            <input name="q" type="text" autocomplete="off">
            <button>Rechercher</button>
        </form>
    </header>
    <div class="layout">
        <div id="google" class="results"></div>
        <div id="ddg"></div>
    </div>
</body>
</html>