<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistiques Grafisearch</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        .numbers {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }
        .link {
            max-width: 250px;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        th {
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mb-3 mt-4 fw-bold">Statistiques de recherches</h1>
        <div class="numbers">
            <div class="card p-3">
                <h1 class="fw-bold">{{ .Count }}</h1>
                recherches
            </div>
            <div class="card p-3">
                <h1 class="fw-bold">{{ .HitRate }}%</h1>
                hits
            </div>
            <div class="card p-3">
                <h1 class="fw-bold">{{ .HitRateGoogle }}%</h1>
                hits google fallback
            </div>
            <div class="card p-3">
                <h1 class="fw-bold">{{ .HitRateNotOnGoogle }}%</h1>
                exotisme
            </div>
        </div>

        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Requête</th>
                    <th>Duckduckgo</th>
                    <th>Google</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                {{range .Results}}
                <tr>
                    <td>{{ .Query }}</td>
                    <td>{{ if .Found }}✅{{ else }}❌{{ end }}</td>
                    <td>{{ if .Google }}✅{{ else }}❌{{ end }}</td>
                    <td><a class="link" href="{{ .URL }}">{{ .URL }}</a></td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</body>
</html>
