.results {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-content: flex-start;
}

.results.is-fetching {
    opacity: .3;
}

.result {
    position: relative;
    width: calc(100% - 20px);
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 7px 10px;
    margin: -7px -10px;
    overflow: hidden;
}

.result:hover {
    border: 1px solid var(--border);
    background: var(--backgroundHover);
}

.result__title::after {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
    z-index: 2;
}

.result__title:focus {
    outline: none;
}

.result__title:focus::after {
    border: 1px solid var(--color);
    box-shadow: 0 0 0 4px var(--colorLight);
    border-radius: 4px;
    outline: none;
}

.result__title {
    color: var(--title);
    font-weight: 400;
    line-height: 1.22;
    font-size: 1.3rem;
    z-index: 3;
    display: block;
}

.result__title:visited {
    color: #bb9af7;
}

.result__url {
    max-width: 600px;
    font-size: 0.9rem;
    color: var(--link)!important;
    min-height: 1.57em;
    margin: 1px 0 2px;
    display: flex;
    align-items: center;
}

.result__url span {
    overflow: hidden;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.result__url img {
    display: block;
    margin-right: 0.5em;
    width: 16px;
    height: 16px;
}

.result__desc {
    max-width: 600px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.result__desc em {
    font-weight: bold;
    font-style: normal;
}

.result__related {
    position: relative;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: .5em;
    font-size: 0.9em;
}

// Result with image
.result--img {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 20px;
    align-content: flex-start;

    .result__title {
        font-size: 1rem;
    }
}
.result__img {
    width: 125px;
    height: 70px;
    object-fit: cover;;
    border-radius: 5px;
}
