:root {
    --color: #a9b1d6;
    --colorLight: #a9b1d63d;
    --background: #0d0e16;
    --backgroundLight: #191d2d;
    --link: #9ece6a;
    --title: #7aa2f7;
    --visited: #bb9af7;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color);
    font-size: 14px/normal 'Roboto', Helvetica, Sans-Serif;
    line-height: 1.4;
    background: var(--background) center center / cover no-repeat fixed;
}
a{
    text-decoration: none;
    color: var(--title);
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: var(--visited)
}
p {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}
a:hover {
    text-decoration: underline;
}

/**
* Header
**/ 
header {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    flex: none;
    display: none;
    color: var(--colorLight);
    width: 60px;
    height: 60px;
    margin-right: 2rem;
    transition: color .3s;
}
.has-results .logo {
    display: block;
}
.has-focus .logo,
.logo:hover {
    color: var(--color);
}
.logo svg {
    width: 100%;
    height: 100%;
}
.has-results header {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: var(--backgroundLight);
    padding-left: 60px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    margin-bottom: 2rem;
    justify-content: flex-start;
}
.has-results {
    background-image: none!important;
}

/**
* Layout
**/
.layout{
    margin-left: 60px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    transition: .3s;
}
.layout hr {
    border: none;
    background: var(--backgroundLight);
    width: 100%;
    height: 100%;
}
.is-loading .layout {
    opacity: .5;
}

/**
* Results
**/ 
.results {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-content: flex-start;
}
.result {
    position: relative;
    max-width: 600px;
}
.result__link {
    position: absolute;
    inset: 0;
    display: block;
    z-index: 2;
}
.result__title {
    color: var(--title);
    font-weight: 400;
    line-height: 1.22;
    font-size: 1.3rem;
    position: relative;
    z-index: 3;
    display: block;
}
.result__title:hover {
    text-decoration: underline;
}
.result__title:visited {
    color: #bb9af7;
}
.result__url {
    position: relative;
    z-index: 3;
    font-size: 0.9rem;
    color: var(--link);
    min-height: 1.57em;
    margin: 1px 0 2px;
    display: flex;
    align-items: center;
}
.result__url span {
    overflow: hidden;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.result__url img{
    display: block;
    margin-right: 0.5em;
    width: 16px;
    height: 16px;
}
.result__desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.result__desc em {
    font-weight: bold;
    font-style: normal;
}
.result__related {
    position: relative;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: .5em;
    font-size: 0.9em;
}

/**
* Search Form
**/ 
.search-form {
    height: 52px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
    background: var(--background);
    align-items: stretch;
    border-radius: 52px;
    height: 52px;
    position: relative;
    display: flex;
    overflow: hidden;
    border: 1px solid transparent;
    transition: .3s;
}
.has-focus .search-form {
    border: solid 1px var(--color);
    box-shadow: 0 0 0 4px var(--colorLight);
}
.search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: var(--color);
    font-size: 1rem;
    font: inherit;
    padding-inline: 1rem;
    background: transparent;
}
.search-button {
    background: transparent;
    flex: none;
    padding: 0;
    margin: 0;
    padding-right: .5rem;
    border: none;
    color: var(--title);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: color .3s;
}
.search-button:hover {
    color: var(--color);
}

@media only screen and (min-width: 1200px) {
    .layout {
        grid-template-columns: 1fr 3px 1fr;
    }
}

@media only screen and (min-width: 1500px) {
    .has-results header {
        padding-left: 150px;
    }
    .layout {
        margin-left: 150px;
    }
}

@keyframes glow {
    from { background-position: 0 0; }
    to { background-position: -3000px 0;}
}