package templates

templ Layout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			@templ.Raw(ctx.Value("assets").(string))
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
